@charset "UFT-8";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

/**** Body da página ****/
.conteudo {
  background-image: url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png);
  background-position: 5% 4%, 95% 17%, 11% 35%, 91% 49%, 11% 67%, 91% 91%;
}
/**** Container da Biografia ****/
.biografia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  max-width: 800px;
  margin: 0 10px;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  box-sizing: border-box;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/**** Parágrafo 1 - GRID ****/
.texto1 {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 0px 17px;
}
/**** Parágrafo 1 - TEXTO ****/
.texto1 > p {
  text-align: justify;
  font-weight: var(--gemunu_medium);
  font-size: 1.8em;
  line-height: 1.2em;
  text-indent: 1.6em;
}
/**** Foto - GRID ****/
.foto {
  grid-column: 3;
  grid-row: 1;
  padding: 17px;
}
/**** Foto - IMAGEM ****/
.foto > img {
  width: 100%;
  border-radius: 50%;
  box-shadow: -4px 4px 1px rgba(15, 15, 15, 0.277);
}
/**** Parágrafo 2 - GRID ****/
.texto2 {
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 0px 17px 17px;
}
/**** Parágrafo 2 - TEXTO ****/
.texto2 > p {
  text-align: justify;
  font-weight: var(--gemunu_medium);
  font-size: 1.8em;
  line-height: 1.2em;
  text-indent: 1.6em;
}

/**** Seção dos Conhecimentos ****/
.conhecimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  margin: 0 10px;
}
/****Container de cada grupo ****/
.container_conhecimento {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  box-sizing: border-box;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  max-width: 537px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
/**** Container de cada titulo ****/
.container_titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**** Título principal ****/
.titulo_conhecimento {
  font-size: clamp(2em, 9.5vw, 4em);
  font-weight: var(--fonte__padrao);
  font-style: normal;
}
/**** Título secundário ****/
.subtitulo_conhecimento {
  font-family: var(--gemunu_extralight);
  font-size: clamp(1em, 6.5vw, 2em);
  font-weight: 'Gemunu Libre ExtraLight';
}
/**** ícones ****/
.icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 10px;
}
/**** Divs dos ícones ****/
.div_icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  margin: 19px 19px 42px;
}
/**** Divs dos ícones em hover ****/
.icones > div:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
/**** Nome dos ícones ****/
.nome_icone {
 font-size: clamp(0.9em,2.5vw,1.3em);
 position: absolute;
 bottom: -28px;
}
/**** Tamanho dos ícones ****/
.tec {
  font-size: 5em;
}

/**** Bloco das animações de cores para cada ícone ****/
.fa-html5:hover, 
.icones > div:hover .html5{
  text-shadow: 
    3px 2px 0px var(--cor__html), 
    0px 0px 10px var(--cor__html), 
    0px 0px 20px var(--cor__html), 
    0px 0px 30px var(--cor__html);
}
.fa-css3-alt:hover, 
.icones > div:hover .css3{
  text-shadow: 
    3px 2px 0px #1572B6, 
    0px 0px 10px #1572B6,  
    0px 0px 20px #1572B6, 
    0px 0px 30px #1572B6;
}
.fa-square-js:hover, 
.icones > div:hover .js{
  text-shadow: 
    3px 2px 0px #F0DB4F, 
    0px 0px 10px #F0DB4F,  
    0px 0px 20px #F0DB4F, 
    0px 0px 30px #F0DB4F;
}
.fa-python:hover, 
.icones > div:hover .python{
  text-shadow: 
    3px 2px 0px #0e5a90, 
    0px 0px 10px #1276bd,  
    0px 0px 20px #1276bd, 
    0px 0px 30px #1276bd;
}
.iconmysql_original_logo_icon_146416:hover, 
.icones > div:hover .mysql{
  text-shadow: 
    3px 2px 0px #1572B6, 
    0px 0px 10px #1572B6,  
    0px 0px 20px #1572B6, 
    0px 0px 30px #1572B6;
}
.fa-git-alt:hover, 
.icones > div:hover .git{
  text-shadow: 
    3px 2px 0px #DD4C35, 
    0px 0px 10px #DD4C35,  
    0px 0px 20px #DD4C35, 
    0px 0px 30px #DD4C35;
}
.fa-bootstrap:hover, 
.icones > div:hover .bootstrap{
  text-shadow: 
    4px 2px 0px #5B4282, 
    0px 0px 10px #5B4282,  
    0px 0px 20px #5B4282, 
    0px 0px 30px #5B4282,
    0px 0px 30px #5B4282;
}
.fa-angular:hover, 
.icones > div:hover .angular{
  text-shadow: 
    3px 2px 0px #C3002F, 
    0px 0px 10px #DD0031,  
    0px 0px 20px #DD0031, 
    0px 0px 30px #DD0031;
}
.fa-github:hover, 
.icones > div:hover .github{
  text-shadow: 
    3px 2px 0px #000000, 
    0px 0px 10px #000000,  
    0px 0px 20px #000000, 
    0px 0px 30px #000000;
}
.iconvscode:hover, 
.icones > div:hover .vscode{
  text-shadow: 
    3px 2px 0px #0065A9, 
    0px 0px 10px #007ACC,  
    0px 0px 20px #007ACC, 
    0px 0px 30px #1F9CF0;
}
.iconscrum:hover, 
.icones > div:hover .scrum{
  text-shadow: 
    3px 2px 0px #24a500, 
    0px 0px 10px #62ff00,  
    0px 0px 20px #62ff00, 
    0px 0px 30px #62ff00;
}
.iconword:hover, 
.icones > div:hover .word{
  text-shadow: 
    3px 2px 0px #103E91, 
    0px 0px 10px #195ABE,  
    0px 0px 20px #195ABE, 
    0px 0px 30px #41A5ED;
}
.iconOutlook:hover, 
.icones > div:hover .Outlook{
  text-shadow: 
    3px 2px 0px #0464B8, 
    0px 0px 10px #29A7EB,  
    0px 0px 20px #29A7EB, 
    0px 0px 30px #29A7EB;
}
.iconexcel:hover, 
.icones > div:hover .excel{
  text-shadow: 
    3px 2px 0px #185B37, 
    0px 0px 10px #17864C,  
    0px 0px 20px #17864C, 
    0px 0px 30px #17864C;
}
.iconpowerbi:hover, 
.icones > div:hover .powerbi{
  text-shadow: 
    3px 2px 0px #c0980a, 
    0px 0px 10px #EDBD11,  
    0px 0px 20px #EDBD11, 
    0px 0px 30px #EDBD11;
}
.fa-figma:hover, 
.icones > div:hover .figma{
  text-shadow: 
    3px 2px 0px #FF7262, 
    0px 0px 10px #FF7262,  
    0px 0px 10px #A259FF, 
    0px 0px 10px #1ABCFE,
    0px 0px 10px #0ACF83;
}

/**** MEDIA QUERYS ****/
@media (max-width: 1024px) {
  .conteudo {
    background-image: none;
  }
}
@media (max-width: 768px) {
  .conteudo {
    background-image: none;
  }

  .texto1 {
    grid-column: 1 / 4;
    grid-row: 1;
    padding: 17px 17px 0px;
  } 
  .texto1 > p {
      text-align: justify;
      font-weight: var(--gemunu_regular);
      font-size: max(1.2em, 5vw);
      line-height: 1.2em;
      text-indent: 1.3em;
  }
  .foto {
      grid-column: 1/4;
      grid-row: 2;
      padding: 17px;
  }
  .foto > img {
      width: 100%;
      border-radius: 20px;
  }
  .texto2 {
      grid-column: 1 / 4;
      grid-row: 3;
      padding: 0px 17px 17px;
  }
  .texto2 > p {
      text-align: justify;
      font-weight: var(--gemunu_regular);
      font-size: max(1.2em, 5vw);
      line-height: 1.2em;
      text-indent: 1.3em;
  }

  .container_conhecimento {
    max-width: 550px;
  }
}
@media (max-width: 480px) {
  .tec {
    font-size: max(3em, 17vw);
  }
  .icones {
    gap: 0px;
  }

  .conhecimentos {
    gap: 2em;
  }

  .container_link {
    font-size: 0.6em;
  }
}