@charset "UTF-8";
* {
  text-decoration: none;
}
:root {
  --cor__primaria: #000529;
  --cor__secundaria: #004aad;
  --cor__subtitulo: #7FDBFD;
  --cor__menu: #1C1B1B;
  --cor__letra: #FFFFFF;
  --cor__html: #ff8000;
  --cor__titulo__maior: rgba(190, 190, 190, 0.285);
  --fonte__padrao: 'gemunu_regular', sans-serif;
  --gemunu_regular: 'gemunu_regular', sans-serif;
  --gemunu_bold: "gemunu_bold", sans-serif;
  --gemunu_extrabold: "gemunu_extrabold", sans-serif;
  --gemunu_extralight: "gemunu_extralight", sans-serif;
  --gemunu_light: "gemunu_light", sans-serif;
  --gemunu_medium: "gemunu_medium", sans-serif;
  --gemunu_semibold: "gemunu_semibold", sans-serif;
  --font__nome: 'Impact', sans-serif;
}

.secao_contato {
  width: 100%;
  height: 100vh;
}

.glass_principal {
  max-width: 945px;
  height: 680px;
  margin: 0 auto 6em;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0px 2.71693px 10.8677px rgba(31, 18, 135, 0.37);
  backdrop-filter: blur(6.79232px);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.glass_secundario {
  width: 436px;
  height: 100%;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 8px 0px 14px rgba(0, 0, 0, 0.25), 0px 0px 20px #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.foto {
  width: 260px;
  height: 260px;
  margin-top: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-2px 2px 24px rgba(0, 0, 0, 0.63));
}

.foto img {
  width: 100%;
  border-radius: 50%;
}
.bloco_informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nome {
  font-family: var(--gemunu_extrabold);
  font-size: 3em;
}

.profissao {
  font-family: var(--gemunu_regular);
  font-size: 1.5em;
  color: var(--cor__subtitulo);
}

.container_localizacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.fa-location-dot {
  margin: 0px 5px 8px;
  font-size: .8em;
}

.container_localizacao p {
  font-size: .9em;
}

.container_contatos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 76%;
  height: 16em;
}

.container_contatos::before {
  content: "";
  background: #fff;
  height: 12px;
  width: 100%;
  margin-top: -10px;
}

.container_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  border-radius: 20px;
  border: 1px solid #7FDBFD;
  box-shadow: 0px 0px 14px 1px #7FDBFD, inset 0px 4px 14px #7FDBFD;
}

.container_items:hover {
  transform: scale(1.1);
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 14px 1px #F3F3F3, inset 0px 4px 14px #F3F3F3;
}


.icone {
  font-size: 1.8em;
  margin: 0px 25px;
}

.item {
  font-size: 1.5em;
}

.mensagem {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.titulo_mensagem {
  font-family: var(--gemunu_extrabold);
  font-size: 3em;
  text-shadow: 0px 0px 20px rgba(127, 219, 253, 0.35), 0px 0px 14px #7FDBFD;
}

.texto {
  font-family: var(--gemunu_medium);
  font-size: 2em;
  margin-top: 16px;
  line-height: 1.2em;
  text-align: justify;
}