@charset "UTF-8";
/* Importação Fontes */
@font-face {
  font-family: 'gemunu_bold';
  src: url(../fontes/gemunu/gemunu-libre.bold.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_extrabold';
  src: url(../fontes/gemunu/gemunu-libre.extrabold.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_extralight';
  src: url(../fontes/gemunu/gemunu-libre.extralight.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_light';
  src: url(../fontes/gemunu/gemunu-libre.light.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_medium';
  src: url(../fontes/gemunu/gemunu-libre.medium.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_regular';
  src: url(../fontes/gemunu/gemunu-libre.regular.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gemunu_semibold';
  src: url(../fontes/gemunu/gemunu-libre.semibold.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Impact';
  src: url('../fontes/impact.ttf') format('opentype');
}

/* Root do portfólio */
:root {
  --cor__primaria: #000529;
  --cor__secundaria: #004aad;
  --cor__subtitulo: #7FDBFD;
  --cor__menu: #1C1B1B;
  --cor__letra: #FFFFFF;
  --cor__html: #ff8000;
  --cor__titulo__maior: rgba(190, 190, 190, 0.285);
  --fonte__padrao: 'gemunu_regular', sans-serif;
  --gemunu_regular: 'gemunu_regular', sans-serif;
  --gemunu_bold: "gemunu_bold", sans-serif;
  --gemunu_extrabold: "gemunu_extrabold", sans-serif;
  --gemunu_extralight: "gemunu_extralight", sans-serif;
  --gemunu_light: "gemunu_light", sans-serif;
  --gemunu_medium: "gemunu_medium", sans-serif;
  --gemunu_semibold: "gemunu_semibold", sans-serif;
  --font__nome: 'Impact', sans-serif;
}

/* Reset das caixas */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
 }

 /* Decoração Superior do Site */

 /* Container Superior */
.borda_superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
/* Borda da página */
.borda-da-pagina {
  height: 21px;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 5;
}
/* Trapézio decorativo */
.trapezio {
  position: fixed;
  top: 15px;
  height: 10px;
  width: clamp(6em, 60vw, 20em);
  margin: 0 auto;
  border-top: 25px solid rgb(0, 0, 0);
  border-left: 35px solid transparent;
  border-right:35px solid transparent;
  z-index: 5;
}

/***** Configuração de Títulos: Sobre mim, Projetos e Contato *****/

.corpo {
  background-image: url(../fotos/—Pngtree—blue\ decorative\ curve\ lines_5487237\ 1\ \(1\).png), linear-gradient(269.75deg, var(--cor__secundaria) 9.86%, var(--cor__primaria) 56.99%);
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 100%;
  background-size: 120vw, 100vw;
  background-position: center bottom;
  font-family: var(--fonte__padrao);
  color: white;
}

.conteudo {
  background-repeat: no-repeat;
  background-size: 9vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5em 0 1.5em 0;
}

.titulo_secundario {
  position: relative;
  font-family: var(--gemunu_extrabold);
  font-size: clamp(4rem, 20.5vw, 8.8rem);
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--cor__titulo__maior);
  text-shadow: 5px 2px 2px rgba(101, 101, 101, 0.22);
  letter-spacing: 4px;
}

.titulo_principal {
  position: absolute;
  font-family: var(--gemunu_bold);
  font-size: clamp(3em, 14.5vw, 5em);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 6.5px;
}



/***** Configurações da Barra de Menu ******/

/* Container principal do menu */
.pai_do_menu{
  background-color: var(--cor__menu);
  box-shadow: 0px -2px 4px #3F3D3D;
  border-radius: 20px 20px 0px 0px;
  width: 60vw;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 0;
}
/* Caixa do Menu */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Caixa do ícone e do nome */
.container_link {
  color: var(--cor__letra);
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  display: block;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
/* Ativa o neon e a escala dos ícones */
.container_link:hover {
  color: var(--cor__letra);
  text-shadow: 0px 0px 20px var(--cor__subtitulo), 0px 0px 20px var(--cor__subtitulo);
  transform: scale(1.1);
}
/* Configura o tamanho dos ícones */
.fa-solid {
  font-size: 2em;
}
/* Simbolo de alerta desabilitado */
.container_link > div > .fa-circle-exclamation{
  display: none;
}
/* Simbolo de Projetos é desabilitado */
.container_link:hover > div > .fa-layer-group {
  display: none;
}
/* Simbolo de Contatos é desabilitado */
.container_link:hover > div > .fa-comments {
  display: none;
}
/* Simbolo de alerta é Habilitado com novas cores */
.container_link:hover > div > .fa-circle-exclamation{
  display: inline-block;
  color: yellow;
  text-shadow: 0px 0px 20px yellow;
}
/* Nome do ícone Desabilitado */
.container_link:hover > .novo_texto > span{
  display: none;
}
/* Novo novo do ícone Habilitado com novas cores */
.container_link:hover > .novo_texto::after {
  content: "Em Construção";
  text-shadow: 0px 0px 20px yellow, 0px 0px 20px yellow;
  color: yellow;
}




@media (max-width: 1024px) and (orientation: landscape){
.pai_do_menu{
    width: 50vw;
    padding: 10px 0;
  }
  
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container_link {
  color: var(--cor__letra);
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  display: block;
  width: 100%;
}

.container_link:hover {
  color: var(--cor__letra);
text-shadow: 0px 0px 20px var(--cor__subtitulo), 0px 0px 20px var(--cor__subtitulo);
  font-size: 15px;
}
}

@media (max-width: 1024px), (max-width: 1200px) and (orientation: portrait){
.pai_do_menu {
    width: 100%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
.pai_do_menu{
    width: 100vw;
    padding: 10px 0;
}
  
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Bloco do ícone + nome */
.container_link {
  color: var(--cor__letra);
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  display: block;
  width: 100%;
}
}

@media (max-width: 480px) {
.pai_do_menu{
    width: 100vw;
    padding: 10px 0;
}
  
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container_link {
  color: var(--cor__letra);
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  display: block;
  width: 100%;
}

.container_link:hover {
  color: var(--cor__letra);
  text-shadow: 0px 0px 20px var(--cor__subtitulo), 0px 0px 20px var(--cor__subtitulo);
  transform: scale(1.1);
}

}