* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.corpo {
  background-image: url(../fotos/pontilhado.png),linear-gradient(269.75deg, var(--cor__secundaria) 9.86%, var(--cor__primaria) 56.99%);
  background-repeat: repeat-y, repeat;
  background-size: 100%, 100%;
  background-position: left top;
  font-family: var(--fonte__padrao);
  width: 100%;
  color: white;
}

.conteudo {
  background-image: url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png), url(../fotos/Group\ 3.png);
  background-repeat: no-repeat;
  background-position: 11% 12%, 91% 49%, 11% 84%;
  background-size: 9vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5em 0 1.5em 0;
}

.titulo_secundario {
  position: relative;
  font-family: var(--gemunu_extrabold);
  font-size: clamp(5rem, 20.5vw, 8.8rem);
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--cor__titulo__maior);
  text-shadow: 5px 2px 2px rgba(101, 101, 101, 0.22);
  letter-spacing: 4px;
}

.titulo_principal {
  position: absolute;
  font-family: var(--gemunu_bold);
  font-size: clamp(3em, 14.5vw, 5em);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 6.5px;
}

.container_imagem {
  max-width: 800px;
  margin: 0 auto 6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
}

.imagem {
  max-width: 380px;
  max-height: 230px;
  min-width: 300px;
  min-height: 180px;
  margin: 10px;
  background-color: #C7D0D8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.imagem > .texto1 {
  font-family: var(--gemunu_extrabold);
  font-size: 3em;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.imagem > .texto2 {
  font-family: var(--gemunu_extrabold);
  font-size: 3.9375em;
  color: #FFDE59;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.imagem:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px #008AFF, inset 0px 0px 10px #008AFF !important;
  border: 2px solid #008AFF;
}

.imagem:hover p {
  transform: scale(1.1);
}

@media (max-width: 980px) {
  .conteudo {
    background-image: none;
  }
}