@charset "UFT-8";
:root {
  --cor__primaria: #000529;
  --cor__secundaria: #004aad;
  --cor__subtitulo: #7FDBFD;
  --cor__menu: #1C1B1B;
  --cor__letra: #FFFFFF;
  --cor__html: #ff8000;
  --cor__titulo__maior: rgba(190, 190, 190, 0.285);
  --fonte__padrao: 'gemunu_regular', sans-serif;
  --gemunu_regular: 'gemunu_regular', sans-serif;
  --gemunu_bold: "gemunu_bold", sans-serif;
  --gemunu_extrabold: "gemunu_extrabold", sans-serif;
  --gemunu_extralight: "gemunu_extralight", sans-serif;
  --gemunu_light: "gemunu_light", sans-serif;
  --gemunu_medium: "gemunu_medium", sans-serif;
  --gemunu_semibold: "gemunu_semibold", sans-serif;
  --font__nome: 'Impact', sans-serif;
}

.container_video_principal {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;

  background: rgba(255, 255, 255, 0.16);
  border: 1.07844px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8.62751px 34.51px 8.62751px rgba(31, 18, 135, 0.37);
  backdrop-filter: blur(21.5688px);
  border-radius: 14.4424px;
}

.container_video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 93%;
  margin: 1em;
  border-radius: 20px;
  overflow: hidden;
}

.video iframe {
  width: 100%;
  border-radius: 20px;
}

.titulo_projeto {
  font-family: var(--gemunu_medium);
  font-size: 2em;
  margin-left: 1em;
  margin-bottom: 1.3em;
}

.container_links {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: var(--cor__letra);
  margin-bottom: 2.3em;
  padding: 10px 20px;
  border: 1px solid #7FDBFD;
  box-shadow: 0px 0px 14px 1px #7FDBFD, inset 0px 4px 14px #7FDBFD;
}

.youtube {
  border-radius: 0px 10px;
}

.site {
  border-radius: 10px;
}

.github{
  border-radius: 10px 0px;
}

.container_items {
  display: flex;
  font-family: var(--gemunu_bold);
  font-size: 1.5em;
  gap: 10px;
}




.container_link {
  font-size: 1.2em;
}

.iconicon_voltar {
  font-size: 1.4em;
}