@charset "UFT-8";
:root {
  --cor__primaria: #000529;
  --cor__secundaria: #004aad;
  --cor__subtitulo: #7FDBFD;
  --cor__menu: #1C1B1B;
  --cor__letra: #FFFFFF;
  --cor__html: #ff8000;
  --cor__titulo__maior: rgba(190, 190, 190, 0.285);
  --fonte__padrao: 'gemunu_regular', sans-serif;
  --gemunu_regular: 'gemunu_regular', sans-serif;
  --gemunu_bold: "gemunu_bold", sans-serif;
  --gemunu_extrabold: "gemunu_extrabold", sans-serif;
  --gemunu_extralight: "gemunu_extralight", sans-serif;
  --gemunu_light: "gemunu_light", sans-serif;
  --gemunu_medium: "gemunu_medium", sans-serif;
  --gemunu_semibold: "gemunu_semibold", sans-serif;
  --font__nome: 'Impact', sans-serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_video {
  width: 800px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.16);
  border: 1.07844px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8.62751px 34.51px 8.62751px rgba(31, 18, 135, 0.37);
  backdrop-filter: blur(21.5688px);
  border-radius: 14.4424px;
}
.video {
  width: 80%;
  margin: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.video iframe {
  width: 100%;
  border-radius: 20px;
}

.container_link {
  font-size: 1.4em;
}

.icon {
  font-size: 1.7em;
}