@charset "UFT-8";
:root {
  --cor__primaria: #000529;
  --cor__secundaria: #004aad;
  --cor__subtitulo: #7FDBFD;
  --cor__menu: #1C1B1B;
  --cor__letra: #FFFFFF;
  --cor__html: #ff8000;
  --cor__titulo__maior: rgba(190, 190, 190, 0.285);
  --fonte__padrao: 'gemunu_regular', sans-serif;
  --gemunu_regular: 'gemunu_regular', sans-serif;
  --gemunu_bold: "gemunu_bold", sans-serif;
  --gemunu_extrabold: "gemunu_extrabold", sans-serif;
  --gemunu_extralight: "gemunu_extralight", sans-serif;
  --gemunu_light: "gemunu_light", sans-serif;
  --gemunu_medium: "gemunu_medium", sans-serif;
  --gemunu_semibold: "gemunu_semibold", sans-serif;
  --font__nome: 'Impact', sans-serif;
}

.fundo_principal {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 15px;

  background: rgba(255, 255, 255, 0.16);
  border: 1.07844px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8.62751px 34.51px 8.62751px rgba(31, 18, 135, 0.37);
  backdrop-filter: blur(21.5688px);
  border-radius: 14.4424px;
}
/* Bloco responsável por aplicar a proporção do vídeo */
.bloco_video{
  width: 100%;
  padding-top: 56.25%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
/* define o tamanho e o largura do vídeo em relação ao bloco_video */
.bloco_video iframe{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.titulo_projeto {
  font-family: var(--gemunu_medium);
  font-size: clamp(1.5em, 5.5vw, 2em);
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.container_links {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--cor__letra);
  margin-bottom: 1em;
  padding: 10px 20px;
  border: 1px solid var(--cor__subtitulo);
  box-shadow: 0px 0px 14px 1px var(--cor__subtitulo), inset 0px 4px 14px var(--cor__subtitulo);
  transition: all .2s ease;
}

.link:hover {
  transform: scale(1.1);
  border: 1px solid var(--cor__letra);
  box-shadow: 0px 0px 14px 1px var(--cor__letra), inset 0px 4px 14px var(--cor__letra);
}

.youtube {
  border-radius: 0px 10px;
}

.site {
  border-radius: 10px;
}

.github{
  border-radius: 10px 0px;
}

.container_items {
  display: flex;
  align-items: center;
  font-family: var(--gemunu_bold);
  font-size: clamp(.6em, 2.5vw, 1.2em);
  gap: 10px;
}

.iconicon_link{font-size: 1.4em;}
.fa-brands{font-size: 1.5em;}

/* SOBRE O PROJETO */
.projeto {
  letter-spacing: 0;
}

.fundo_2 {
  margin-top: 2em;
}

.container_textos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto {
  font-family: var(--gemunu_medium);
  font-size: clamp(1.3em, 4.5vw, 2em);
  line-height: 1.2em;
  text-align: justify;
  padding: clamp(0.1em, 2.5vw, 0.4em);
}

.texto strong {
  font-weight: bold;
  color: var(--cor__subtitulo);
  text-shadow: 1px 1px 3px black;
}

/* TECNOLOGIAS DE DESENVOLVIMENTO */
.tecnologias {
  letter-spacing: 0px;
  font-size: clamp(2.5em, 9.5vw, 4.3em);
}

.fundo_3 {
  flex-direction: row;
  margin-top: 2em;
}

/**** ícones ****/
.icones {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

/**** Divs dos ícones ****/
.div_icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  margin: 19px 19px 42px;
}

/**** Divs dos ícones em hover ****/
.icones > div:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}

/**** Nome dos ícones ****/
.nome_icone {
 font-size: clamp(0.9em,2.5vw,1.3em);
 position: absolute;
 bottom: -28px;
}

/**** Bloco das animações de cores para cada ícone ****/
.fa-html5:hover, 
.icones > div:hover .html5{
  text-shadow: 
    3px 2px 0px var(--cor__html), 
    0px 0px 10px var(--cor__html), 
    0px 0px 20px var(--cor__html), 
    0px 0px 30px var(--cor__html);
}
.fa-css3-alt:hover, 
.icones > div:hover .css3{
  text-shadow: 
    3px 2px 0px #1572B6, 
    0px 0px 10px #1572B6,  
    0px 0px 20px #1572B6, 
    0px 0px 30px #1572B6;
}
.fa-square-js:hover, 
.icones > div:hover .js{
  text-shadow: 
    2px 1px 0px #F0DB4F, 
    0px 0px 10px #F0DB4F,  
    0px 0px 20px #F0DB4F, 
    0px 0px 30px #F0DB4F;
}
.fa-git-alt:hover, 
.icones > div:hover .git{
  text-shadow: 
    3px 2px 0px #DD4C35, 
    0px 0px 10px #DD4C35,  
    0px 0px 20px #DD4C35, 
    0px 0px 30px #DD4C35;
}
.fa-figma:hover, 
.icones > div:hover .figma{
  text-shadow: 
    3px 2px 0px #FF7262, 
    0px 0px 10px #FF7262,  
    0px 0px 10px #A259FF, 
    0px 0px 10px #1ABCFE,
    0px 0px 10px #0ACF83;
}

/**** Tamanho dos ícones ****/
.tec {
  font-size: clamp(4em, 9.5vw, 5em);
}



/* BARRA DE NAVEGAÇÃO */
.pai_do_menu{padding: 9px 0 0;}

.container_link {
  font-size: 1.2em;
}

.iconicon_voltar {
  font-size: 1.4em;
}

/*MEDIA QUERYS*/
@media (max-width: 630px) {
.link {
  padding-top: clamp(0.1em, 2.5vw, 0.625em);
  padding-bottom: clamp(0.1em, 2.5vw, 0.625em);
  padding-left: clamp(0.1em, 2.5vw, 0.625em);
  padding-right: clamp(0.1em, 2.5vw, 0.625em);
}
}

@media (max-width: 480px) {
.fundo_principal {padding: 10px;}
.container_items {gap: 5px;}
}